<html>
<head>    
 <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <style>
   tr > td
    {
      padding-bottom: 0.3em;
      padding-right:0.6em;
    }
    
    #details{
        display:inline-block;
        float: none;
    }
    
    #taglist{
         background: url(Green_Patch.png) no-repeat;
           height: 6%;
           position: relative;
           width: 100%;
    }
    
     #tagstable{
          margin-left:5%;
      }
     
     #footer{
        background-color:black;
    }
    
 </style>
</head>
<%- include menu.ejs%>
<body>

    <div id="taglist">
        <table id="tagstable" style='padding-top:7px'>
             <tr>
                 <td><label>Recent Keywords: </label></td>
                 <section class="slider three">
                    <% if(taglist.length > 0) { %>
                    
                        <% for(var x = 0; x < taglist.length; x++ ) { %>
               
                            <td><b><a href="#" onclick="return false;"><%=taglist[x]%></a></b></td>    
                            <td>|</td>
                        <% } %>
                        
                    <% } %>
                </section>
             </tr>
        </table>
    </div>
    
    <div id="details">
    
    <div style="margin-left:44%" id="headertext"> <h2>Complete Details </h2></div>
    
    <table border = 1 style="margin-left:44%">
        <tr>
            <td>Total tweets streamed</td>
            <td><%=total%></td>
        </tr>
         <tr>
            <td>Total tweets replied</td>
            <td><%=repliedcount%></td>
        </tr>
        <tr>
            <td>Total positive tweets</td>
            <td><%=positivescore%></td>
        </tr>
         <tr>
            <td>Total negative tweets</td>
            <td><%=negativescore%></td>
        </tr>
         <tr>
            <td>Total agents</td>
            <td><%=agentcount.length%></td>
        </tr>
    </table>
    
    <div style="margin-left:44%" id="agentdet"> <h2>Agent Details </h2></div>
    <% 
    if (agentcount.length > 0) 
    {
        for(var i = 0 ; i <  agentcount.length ; i++)
        {
    %>
    <div id="container" <%=i%> style="margin-left:70px;display: inline-block; margin-top:20px" >
        <table border = 1>
             <tr>
                <td>Agent</td>
                <td><%=agentcount[i].agentname%></td>
            </tr>
            <tr>
                <td>Total tweets assigned</td>
                <td><%=agentcount[i].agenttotal%></td>
            </tr>
            <tr>
                <td>Total tweets replied</td>
                <td><%=agentcount[i].agentrepliedcount%></td>
            </tr>
            <tr>
                <td>Total Positive tweets</td>
                <td><%=agentcount[i].agentpositivescore%></td>
            </tr>
            <tr>
                <td>Total Negative tweets</td>
                <td><%=agentcount[i].agentnegativescore%></td>
            </tr>
            
            
        </table>
    </div>
    <%
        }
    }
    %>
    </div>
</body>
     <%- include footer.ejs%>
</html>

<script>

  $("#tagstable").on('click','a',function(e){
    
    var tagname = e.target.innerHTML;
    
        $.ajax(
            {
                url: "showagents",
                data:{"tag":tagname},
                success: function(pos)
                   {
                      $("body").html(pos);
                      $("#headertext").find("h2").html("Complete Details for keyword : " + tagname);
                       $("#agentdet").find("h2").html("Agent Details for keyword : " + tagname);
                       
                   }
          });    
             
    });
    
</script>