<html>
<head>    
 <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <style>
   tr > td
    {
      padding-bottom: 0.3em;
      padding-right:0.6em;
    }
    
    #details{
        margin-left: 20%;
        overflow-y: scroll;
        overflow-x: hidden;
        /* overflow: hidden; */
        position: relative;
        height:63%;
    }
    
   #taglist{
         background: url(Green_Patch.png) no-repeat;
           height: 6%;
           position: relative;
           width: 100%;
    }
    
     #tagstable{
          margin-left:5%;
      }
    
    #footer{
        background-color:black;
    }
 </style>
</head>
<%- include menu.ejs%>
<body>
    
    <div id="taglist">
        <table id="tagstable" style='padding-top:7px'>
             <tr>
                 <td><label>Recent Keywords: </label></td>
                 <section class="slider three">
                    <% if(taglist.length > 0) { %>
                    
                        <% for(var x = 0; x < taglist.length; x++ ) { %>
               
                            <td><b><a href="#" onclick="return false;"><%=taglist[x]%></a></b></td>    
                            <td>|</td>
                        <% } %>
                        
                    <% } %>
                </section>
             </tr>
        </table>
    </div>
    
    <div id="trendheader"></div>
    
    <div id="details">
       
        <% if (tagresults.length > 0) { %>
            <table border=1>
                <tr>
                    <td><b>HashTags</b></td>
                    <td><b>Count</b></td>
                    <td><b>Start Time</b></td>
                    <td><b>End Time</b></td>
                </tr>
                <% for(var j=0; j < tagresults.length; j++) {%>
                    <tr>
                        <td><%=tagresults[j].hashtag%></td>
                        <td><%=tagresults[j].count%></td>
                        <td><%=tagresults[j].created_startdate%></td>
                        <td><%=tagresults[j].created_enddate%></td>
                    </tr>    
                <% } %>
            </table>
        <% } %>
    </div>
</body>
  <%- include footer.ejs%>  
</html>

<script>

  $("#tagstable").on('click','a',function(e){
    
    var tagname = e.target.innerHTML;
    
        $.ajax(
            {
                url: "trendingdetails",
                data:{"tag":tagname},
                success: function(pos)
                   {
                      $("body").html(pos);
                     $("#trendheader").html("<h3 style='margin-left:30%'> Trending HashTags for keyword: "+ tagname  + " </h3>");
                   }
          });    
             
    });
    
</script>